
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*Nav style*/
/*primary color*/
.primary-color{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
header{
    background-image: url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav{
    
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}
.btn-primary{
    color: #ffff;
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    border:none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;

}
/*bannar style*/
.bannar{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.bannar-content{
    max-width: 580px;
}
.bannar-greeting{
    font-weight:600px ;
    font-size:45px ;
    color: #474747;
}
.bannar-title{
    font-weight: 800px;
    font-family: 85px;
    color:#181818 ;
}
.contact-info{
    width: 150px;
    height: 64px;
     font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    margin-left: 10px;
}
.bannar-pictiure{
    width: 580px;
    
}