.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/*Nav style*/
/*primary color*/
.primary-color {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}
.text-aline{
    text-align: center;
}
.secound-bg-cl {
    background-color: #FFF8F3;
}

header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}

.btn-primary {
    color: #ffff;
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;

}

/*bannar style*/
.bannar {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.bannar-content {
    max-width: 580px;
}

.bannar-greeting {
    font-weight: 600px;
    font-size: 45px;
    color: #474747;
}

.bannar-title {
    font-weight: 800px;
    font-family: 85px;
    color: #181818;
}

.contact-info {
    width: 150px;
    height: 64px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    margin-left: 10px;
}

.bannar-pictiure {
    width: 580px;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about {
    text-align: center;
    padding: 130px 150px;
    
    
}
.about-2{
border: 1px solid black;
background-color: whitesmoke;
padding: 0 5px 0 5px;
}
.about-items{
    display: flex;
    justify-content: space-around;

}
.item-description{
    font-weight: bold;
}
.skills{
    margin-top: 130px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}